@import url("./assets/font/stylesheet.css");
:root {
    padding: 0;
    margin: 0;
    --primary: "#A273FF";
    --secondary: "#2D2B39";
    --success: "#22C55E";
    --warnig: "#F59F0B";
    --dange: "#EF4444";
    background-color: #F6F1FF;
}

* {
    padding: 0;
    margin: 0;
    font-family: Mori Gothic, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #A273FF;
}

body {
    position: relative;
}

#root {
    overflow-x: hidden;
}

body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.slick-dots li,
.slick-dots li button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #ECE3FF !important;
}

.slick-dots li.slick-active button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #A273FF !important;
}

.ant-divider {
    margin: 15px;
}

.otpInput {
    width: 100%;
    height: 50px;
    border: 1px solid #ECE3FF;
    border-radius: 5px;
    background-color: #F6F1FF;
    font-size: 20px;
    font-weight: 600;
    color: #2D2B39;
    text-align: center;
}


/* .ant-picker-input,
.ant-picker-input-active,
.ant-picker-range-separator {
    display: none !important;
} */


/* ConfirmationDialog.css */

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.dialog-title {
    font-size: 30px;
    color: #2B3674;
    margin-bottom: 10px;
    text-align: center;
}

.dialog-message {
    font-size: 16px;
    color: #4a5568;
    margin-bottom: 20px;
}
.recharts-rectangle .recharts-tooltip-cursor{
    background-color:red !important;
}
.dialog-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dialog-button {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}

.cancel-button {
    background-color: #fed7d7;
    color: #e53e3e;
    width: 40%;
}
.searchInput{
    width: 100%;
}
.confirm-button {
    background-color: #d6bcfa;
    color: #6b46c1;
    width: 40%;
}

.file-selector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.export-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: 2px solid #9B74F3;
    color: #9B74F3;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px;
}

.file-dropzone {
    border: 2px dashed #e2e8f0;
    border-radius: 12px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8fafc;
    cursor: pointer;
    transition: border-color 0.2s ease;
    margin-bottom: 5px;
}

.file-dropzone:hover {
    border-color: #a0aec0;
}

.icon-container {
    background-color: #e9d8fd;
    border-radius: 50%;
    padding: 10px;
}

.upload-icon {
    width: 30px;
    height: 30px;
}

.icone {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 1px
}

.file-dropzone p {
    margin-top: 10px;
    color: #718096;
    font-size: 14px;
}


/* UPLOAD */

.ant-form-item {
    margin-bottom: 10px !important;
}

.ant-slider-track,
.rs-slider-bar,
.rs-slider-handle {
    background-color: #A273FF !important;
}

.rs-slider-bar,
.rs-slider-progress-bar {
    width: 100% !important;
}


/*  */

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container input {
    border: none;
    outline: none;
    padding: 5px;
}

.react-datepicker__day--in-range,
.react-datepicker__month-text--in-selecting-range {
    background-color: #A273FF !important;
    color: #fff !important;
}

.react-datepicker__close-icon {
    right: -21x
}

.ant-image-mask-info::before {
    content: "Aperçu" !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px 12px;
    background: "transparent";
    color: #fff;
}

.ant-image-mask-info {
    color: #ffffff07!important;
}

.react-datepicker__close-icon::after {
    background-color: #A273FF !important;
    display: flex;
    justify-content: center;
}

.ant-image-preview-switch-right {
    right: 10% !important;
    background-color: #A273FF !important;
}

.ant-image-preview-switch-left {
    left: 10% !important;
    background-color: #A273FF !important;
}
/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(from 30deg,#A273FF 0 60deg,#2B3674 0 120deg);
  animation: l9-0 3s linear infinite;
}
.loader:before,
.loader:after {
  content:"";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  transform: rotate(0turn) translate(100%,0);
  animation: l9-1 3s linear infinite;
}
.loader:after {
  animation-delay: -1.5s;
}
@keyframes l9-0 {to{rotate: -1turn}}
@keyframes l9-1 {to{transform: rotate(1turn) translate(100%,0) rotate(1turn)}}