@import url("./assets/font/stylesheet.css");
:root {
    padding: 0;
    margin: 0;
    --primary: "#A273FF";
    --secondary: "#2D2B39";
    --success: "#22C55E";
    --warnig: "#F59F0B";
    --dange: "#EF4444";
    background-color: #F6F1FF;
}

* {
    padding: 0;
    margin: 0;
    font-family: Mori Gothic, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #A273FF;
}

body {
    position: relative;
}

#root {
    overflow-x: hidden;
}

body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.slick-dots li,
.slick-dots li button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #ECE3FF !important;
}

.slick-dots li.slick-active button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #A273FF !important;
}

.ant-divider {
    margin: 15px;
}

.otpInput {
    width: 100%;
    height: 50px;
    border: 1px solid #ECE3FF;
    border-radius: 5px;
    background-color: #F6F1FF;
    font-size: 20px;
    font-weight: 600;
    color: #2D2B39;
    text-align: center;
}

.ant-picker-input,
.ant-picker-input-active,
.ant-picker-range-separator {
    display: none !important;
}

.ant-slider-track {
    background-color: #A273FF !important;
}


/*  */

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container input {
    border: none;
    outline: none;
    padding: 5px;
}

.react-datepicker__day--in-range,
.react-datepicker__month-text--in-selecting-range {
    background-color: #A273FF !important;
    color: #fff !important;
}